<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% if current_user.is_authenticated and current_user.number_of_style == 0 %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/classique_design.css') }}">
    {% elif current_user.is_authenticated and current_user.number_of_style == 1 %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/awesome_design.css') }}">
    {% elif current_user.is_authenticated and current_user.number_of_style == 2 %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/red_beast_design.css') }}">
    {% elif current_user.is_authenticated and current_user.number_of_style == 3 %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/multi_design.css') }}">
    {% elif not current_user.is_authenticated %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/simple_blue_design.css') }}">
    {% endif %}
    <script src="https://kit.fontawesome.com/a4abeefcac.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark bar-in">
            <a class="navbar-brand ssilka" href="/">moti<b>ON</b>vation</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                {% if current_user.is_authenticated %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href='/news'>News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/planger'>My PLANger</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/mynotes'>My notebook</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/music' target="_blank">Music</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/challenges'>Challenges</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-item-acc dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            {{ useracc }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item dropdown-nav-text" href="/account_info">My account</a>
                            <a class="dropdown-item dropdown-nav-text" href="/settings">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item dropdown-nav-text" href="/logout">LogOut</a>
                        </div>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href='/login'>Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href='/register'>Register</a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>
        <br>
        <br>
        <br>
        <h2 class="p-3 fight-t">Fight your procrastination!</h2>
    </header>
    <main class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>
</body>

<footer class='text-center'>
    <br>
    <br>
    <div style="height:20px; border-top:1px solid #9EC1D4; padding-left:10px; border-color: #77b;"></div>
    <p class='button-note-text' style="font-size: 15px;">
        © Copyright: Vladislav Urzhumov, Denis Mikhailov, 2020
    </p>
    <section>
        <p class='button-note-text simple-line' style="font-size: 16px;">
            Contact us: 
        </p>
        <a href="/contact" class='button-note-text' style="font-size: 16px; color: #aaf;">
            Support team page 
        </a><br>
    </section><br>
</footer>

</html>