<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style16.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-dark  navbar-expand-lg" style="background: url(../static/img/4.jpg)">
        <a class="navbar-brand ssilka" href="/">motiONvation</a>
        <div class="collapse navbar-collapse">
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href='/planger'>My PLANger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/mynotes'>My notebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/music'>Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/challenges'>Challenges</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item nav-item-acc dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        {{ useracc }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item dropdown-nav-text" href="/account_info">My account</a>
                        <a class="dropdown-item disabled " href="#">Statistic</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item dropdown-nav-text" href="/logout">LogOut</a>
                    </div>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href='/login'>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/register'>Register</a>
                {% endif %}
            </ul>
        </div>
    </nav>

    <h2 class="p-3 text-muted">Fight your procrastination!</h2>

    <main class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>