<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style16.css') }}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-sm" style="background: url(../static/img/4.jpg)">
        <a class="navbar-brand ssilka" href="/">motiONvation</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href='/planger'>My PLANger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/mynotes'>My notebook</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/music'>Music</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/challenges'>Challenges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/logout'>LogOut</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href='/login'>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/register'>Register</a>
                {% endif %}
            </ul>
        </div>
    </nav>

    <h2 class="p-3 text-muted">Fight your procrastination!</h2>

    <main class="container-fluid">
        {% block content %}
        {% endblock %}
        </div>
</body>

</html>