{% extends 'base.html' %}

{% block content %}
<main class='text-center container'>
    <h3 class="text-center">Current challenges</h3>
    <a class="btn btn-note" href="/refresh_challenges" style='color: #9f9;' data-toggle="tooltip" title="Refresh">Refresh <i class="fas fa-sync-alt" style="color: #2d2; font-size: 20pt;"></i></a>
    <div class="container">
        <ul class="list-group">
            {% for ch in chs %}
            <li>
                <div class="card" style="width: 1080px; height: 110px; border: none;">
                    <div class="card-body">
                        <section class='simple-inline'>
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="View info">
                                <a href="#" class="btn btn-note" data-toggle="modal" data-target="#chInfo" style='color: #ccf; font-size: 23pt;'>{{ ch.title }} <i class="fas fa-info-circle" style="color: #ccf"></i></a>
                            </span>
                        </section>
                    </div>
                </div>
            </li>
            <div class="modal" id="chInfo" data-backdrop="static" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content cosmodal">
                        <div class="modal-header">
                            <h5 class="modal-title">Task settings</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Difficulty: {{ch.difficulty}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
    </main>

{% endblock %}