{% extends 'base.html' %}

{% block content %}
<main class='text-center container'>
    <h3 class="text-center">Current challenges</h3>
    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Refresh challenges manually">
        <a class="btn btn-note" href="#" style="color: #9f9;" data-toggle="modal" data-target="#refreshInfo">Refresh <i class="fas fa-sync-alt" style="color: #2d2; font-size: 20pt;"></i></a>
    </span>
    <div class="modal" id="refreshInfo" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content cosmodal">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure that you want to refresh manually?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="font-size: 16pt;">You will loose <strong>{{xplost}}xp</strong> for this action</p>
                    <p style="font-size: 16pt;">Or you can win all of the challenges below and they will be refreshed automatically <strong>for free.</strong></p>
                    <br>
                    <p style="font-size: 8pt;">(Soon you will be able to get premium that will let you do it without problems...)</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger"><a href="/refresh_manually" style="color: #fdd; text-decoration: none;">Refresh!</a></button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <ul class="list-group">
            {% for ch in chs %}
            <li>
                <div class="card" style="width: 1080px; height: 140px; border: none;">
                    <div class="card-body">
                        <section class='simple-inline'>
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="View info">
                                <a href="#" class="btn btn-note" data-toggle="modal" data-target="#chInfo-{{ch.title}}" style='color: #ccf; font-size: 23pt;'>{{ ch.title }} <i class="fas fa-info-circle" style="color: #ccf"></i></a>
                            </span>
                            <div class="progress" style="color: black;">
                                <div class="progress-bar bg-warning progress-bar-striped" role="progressbar" style="width: {{ch.current / ch.required * 100 // 1}}%; color: #000;">
                                    {{ch.current}} / {{ch.required}}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="modal" id="chInfo-{{ch.title}}" data-backdrop="static" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content cosmodal">
                            <div class="modal-header">
                                <h5 class="modal-title">Challenge info</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p style="font-size: 20pt;">{{ch.title}}</p>
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ch.current / ch.required * 100 // 1}}%; color: #000;">
                                        {{ch.current}} / {{ch.required}}
                                    </div>
                                </div>
                                <br>
                                {% if ch.difficulty == 0 %}
                                    <p style="font-size: 20pt;">Difficulty: Easy</p>
                                {% elif ch.difficulty == 1 %}
                                    <p style="font-size: 20pt;">Difficulty: Medium</p>
                                {% else %}
                                    <p style="font-size: 20pt;">Difficulty: Hard</p>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
            {% for ch in won %}
            <li>
                <div class="card" style="width: 1080px; height: 140px; border: none;">
                    <div class="card-body">
                        <section class='simple-inline'>
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Won challenge">
                                <a href="#" class="btn btn-note" data-toggle="modal" data-target="#chInfo-{{ch.title}}" style='color: #ccf; font-size: 23pt;'>{{ ch.title }} - won!</a>
                            </span><br>
                            <button type="button" class="btn btn-success"><a href="/challenges" style="text-decoration: none; color: #000">OK <i class="fas fa-check" style="color: #000"></i></a></button>
                        </section>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    </main>

{% endblock %}