{% extends 'base.html' %}

{% block content %}
<main class="container">
    <h3 class="text-center">Any problem or idea?</h3>
    <h4 class="font-italic text-center" style="color: #cfc">Contact us by sending on email:</h4><br>
    <h5 class="button-note-text text-center">
        <strong style="font-size: 18pt;"><u>Backend developer and data-administrator:</u></strong><br><br>Denis Mihaylov - mihdenis85@gmail.com
    </h5><br>
    <h5 class="button-note-text text-center">
        <strong style="font-size: 18pt;"><u>Frontend developer and content-builder:</u></strong><br><br>Vladislav Urzhumov - cypepv@yandex.ru
    </h5><br>
</main>

{% endblock %}
