{% extends 'base.html' %}

{% block content %}
    <main class='text-center container'>
        {% if current_user.is_authenticated %}
        <h2 class="text-center">What to do?</h2>
        <a href='/challenges'><img src="{{ url_for('static', filename='img/6.png') }}" alt="Image not found"></a>
        {% else %}
        <h5 class="text-center">Once upon a time... Wait! Do you really want to read something like that instead of doing significant things right now?</h5>
        <h5 class="text-center">Oh, let me guess... You just need a little more motivation? Well, you've come to the right place.</h5>
        <h5 class="text-center">The MotionVation is made for people who want to change their own lives forever by killing the laziness and tendency toward procrastination. Just follow the further instructions!</h5>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="9000" style="max-width: 1000px; margin: 0 auto;">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/set_fire.jpg') }}" class="d-block w-100" alt="mars">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Does this picture look familiar?</h5>
                        <p>Yes? Then, you deal with The Procrastination! But don`t panic: it is not a diagnoses and you don`t even need medicaments!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/catask.jpg') }}" class="d-block w-100" alt="earth">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Remember: you are not alone with it!</h5>
                        <p>Procrastination is the main cause of lack of time for millions of people around the world. Don`t worry and just try to do something with it!</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/reward.jpg') }}" class="d-block w-100" alt="third">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Be sure that you can overcome it!</h5>
                        <p>There are so many ways to fight the procrastination! MotionVation offers you some instruments that were useful for it`s developers. And we are not the only one website made with that purpose.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Назад</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Далее</span>
            </a>
        </div>
        <a class="btn challenge-button clps" data-toggle="collapse" href="#collapseWhat" role="button" aria-expanded="false" aria-controls="collapseWhat"><h2 class="text-center">What is this project?</h2></a>
        <div class="collapse" id="collapseWhat">
            <div class="card card-body main-log" style="background-image: None;">
                <section class="login-main-text"> 
                    <p>The simple web-based time designer that can help in organising your own time</p>
                    <hr>
                    <p>There everyone will be able to:</p>
                    <p>Defeat procrastination:</p>
                        <ul>
                            <li> Read some tips about time allocation </li>
                            <li>Create a timetable</li>
                            <li>Make a to-do list</li>
                            <li>Take part in some exciting challenges</li>
                        </ul>
                    <p>Start respecting yourself:</p>
                        <ul>
                            <li>Register your own account</li>
                            <li>See the statistic about things that you have done</li>
                            <li>Beat your own records</li>
                            <li>Earn some beautiful titles</li>
                        </ul>
                    <p>Relax and enjoy the work:</p>
                        <ul>
                            <li>Turn on the music</li>
                            <li>Write the notes</li>
                            <li>Arrange your job as comfortable as possible</li>
                            <li>Enjoy the self-development!</li>
                        </ul>
                </section>
            </div>
        </div>
        <a class="btn challenge-button clps" data-toggle="collapse" href="#collapseDashik" role="button" aria-expanded="false" aria-controls="collapseExample"><h2 class="text-center">Who we are?</h2></a>
        <div class="collapse" id="collapseDashik">
            <div class="card card-body main-log">
                <p class="login-main-text">We are young team</p>
            </div>
        </div>
        <a class="btn challenge-button clps" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><h2 class="text-center">How to start?</h2></a>
        <div class="collapse" id="collapseExample">
            <div class="card card-body main-log">
                <p class="login-main-text">You need to <a href='/login' class="button-login-main">Login</a> or <a href='/register' class="button-login-main">Register</a> to see the content!</p>
            </div>
        </div>
        <a href='/login'><img src="{{ url_for('static', filename='img/6.png') }}" alt="Image not found"></a>
        {% endif %}
    </main>

{% endblock %}