{% extends 'base.html' %}

{% block content %}
<main class='container'>
    <h2>{{ news.title }}</h2>
    <p class='note-content'>By {{ news.user.name }} {{ news.user.surname }}</p>
    {% if not news.user.hide_email %}
    <p>Email: {{ news.user.email }}</p>
    {% endif %}
    <p class='note-content'>{{ news.text }}</p>
    {% if news.user == current_user %}
    <button type="button" class="button btn-dark button-note"><a href="/news/delete/{{ news.id }}" class='delete-text'>Delete news</a></button>
    <button type="button" class="button btn-light button-note"><a href="/change_news/{{ news.id }}">Change news</a></button>
    {% endif %}
    <button type="button" class="button btn-light button-note"><a href="/news" class='button-note-text'>Return to news</a></button>
</main>

{% endblock %}