{% extends 'base.html' %}

{% block content %}
<main class='text-center container'>
    <nav aria-label="breadcrumb">
    {% if t_page_id == 0 %}
    <ol class="breadcrumb crumb-ds">
        <li class="breadcrumb-item active">Official newsline</li>
        <li class="breadcrumb-item"><a href="/informal_news">Informal news</a></li>
        <li class="breadcrumb-item"><a href="/all_news">All news</a></li>
        <li class="breadcrumb-item"><a href="/my_news">My news</a></li>
    </ol>
    {% elif t_page_id == 1 %}
    <ol class="breadcrumb crumb-ds">
        <li class="breadcrumb-item"><a href="/news">Official newsline</a></li>
        <li class="breadcrumb-item active">Informal news</li>
        <li class="breadcrumb-item"><a href="/all_news">All news</a></li>
        <li class="breadcrumb-item"><a href="/my_news">My news</a></li>
    </ol>
    {% elif t_page_id == 2 %}
    <ol class="breadcrumb crumb-ds">
        <li class="breadcrumb-item"><a href="/news">Official newsline</a></li>
        <li class="breadcrumb-item"><a href="/informal_news">Informal news</a></li>
        <li class="breadcrumb-item active">All news</li>
        <li class="breadcrumb-item"><a href="/my_news">My news</a></li>
    </ol>
    {% elif t_page_id == 3 %}
    <ol class="breadcrumb crumb-ds">
        <li class="breadcrumb-item"><a href="/news">Official newsline</a></li>
        <li class="breadcrumb-item"><a href="/informal_news">Informal news</a></li>
        <li class="breadcrumb-item"><a href="/all_news">All news</a></li>
        <li class="breadcrumb-item active">My news</li>
    </ol>
    {% endif %}
    </nav>
    <h2>News</h2>
    <div class="container">
        <button type="button" class="btn btn-light"><a href="/add_news">Add news</a></button>
        <button class="btn btn-danger"><a href="/delete_all_news" class="button-note-text">Delete all my news</a></button>
        <ul class="list-group">
            {% for new in news %}
            <li class="list-group-item list-group-flush list-group-color position-relative transform-two"><a href="/news_info/{{ new.id }}" class="note-manual stretched-link">{{ new.title }} - {{ new.user.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    </main>

{% endblock %}