{% extends 'base.html' %}

{% block content %}
<main class='text-center container'>
    <nav aria-label="breadcrumb">
    {% if t_page_id == 0 %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Official newsline</li>
        <li class="breadcrumb-item"><a href="/done_tasks">Informal news</a></li>
        <li class="breadcrumb-item"><a href="/all_tasks">All news</a></li>
    </ol>
    {% elif t_page_id == 1 %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/tasks">Relative tasks</a></li>
        <li class="breadcrumb-item active">Done tasks</li>
        <li class="breadcrumb-item"><a href="/all_tasks">All tasks</a></li>
    </ol>
    {% elif t_page_id == 2 %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/tasks">Relative tasks</a></li>
        <li class="breadcrumb-item"><a href="/done_tasks">Done tasks</a></li>
        <li class="breadcrumb-item active">All tasks</li>
    </ol>
    {% endif %}
    </nav>
    <h2>News</h2>
    <div class="container">
        <ul class="list-group">
            {% for new in news %}
            <li class="list-group-item list-group-flush list-group-color position-relative transform-two"><a href="tasks/{{ new.id }}" class="note-manual stretched-link">{{ new.title }} - {{ new.user.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    </main>

{% endblock %}