{% extends 'base.html' %}

{% block content %}
<main class='text-center container'>
    <h2>Notebook</h2>
    <div class="container">
    <button class="button-note"><a href="/add_note" class="button-note-text">Add new note</a></button>
    <button class="btn btn-danger"><a href="/mynotes/delete_all" class="button-note-text">Delete all notes</a></button>
    <ul class="list-group">
        {% for note in notes %}
        <a href="mynotes/{{ note.id }}"  class="note-manual"><li class="list-group-item list-group-flush list-group-color transform-two">{{ note.title }}</li></a>
        {% endfor %}
    </ul>
    <br>
    </div>
</main>

{% endblock %}