{% extends 'base.html' %}

{% block content %}
    <main class='text-center'>
        <h2>Notebook</h2>
        <div class="container">
        <ul class="list-group">
            {% for note in notes %}
            <li class="list-group-item list-group-item-dark"><a href="mynotes/{{ note.id }}/{{ note.title }}/{{ note.text }}">{{ note.title }}</a></li>
            {% endfor %}
        </ul>
        <br>
        <button><a href="/add_note">Add new note</a></button>
        </div>
    </main>

{% endblock %}