{% extends "base.html" %}
<script src=""></script>

{% block content %}
<div class="container">
    <div class="card" style="max-width: 920px; margin-left: 120px;">
        <header class="card-header" style='margin-left: 80px;'>Registration</header>
        <form action="" method="post" class="form-w">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            {% if message %}
            <div class="alert alert-danger">{{message}}</div>
            {% endif %}

            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            {{ form.password_again.label }}<br>
            {{ form.password_again(class="form-control", type="password") }}<br>
            {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            {{ form.surname.label }}<br>
            {{ form.surname(class="form-control") }}<br>
            {% for error in form.surname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            {{ form.country.label }}<br>
            {{ form.country(class="form-control") }}<br>
            {% for error in form.country.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            {{ form.city.label }}<br>
            {{ form.city(class="form-control") }}<br>
            {% for error in form.city.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}

            {{ form.submit(type="submit", class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}