{% extends 'base.html' %}

{% block content %}
<main class='text-center container'>
    <nav aria-label="breadcrumb">
    {% if t_page_id == 0 %}
    <ol class="breadcrumb crumb-ds">
        <li class="breadcrumb-item active">Relative tasks</li>
        <li class="breadcrumb-item"><a href="/done_tasks">Done tasks</a></li>
        <li class="breadcrumb-item"><a href="/all_tasks">All tasks</a></li>
    </ol>
    {% elif t_page_id == 1 %}
    <ol class="breadcrumb crumb-ds">
        <li class="breadcrumb-item"><a href="/tasks">Relative tasks</a></li>
        <li class="breadcrumb-item active">Done tasks</li>
        <li class="breadcrumb-item"><a href="/all_tasks">All tasks</a></li>
    </ol>
    {% elif t_page_id == 2 %}
    <ol class="breadcrumb crumb-ds">
        <li class="breadcrumb-item"><a href="/tasks">Relative tasks</a></li>
        <li class="breadcrumb-item"><a href="/done_tasks">Done tasks</a></li>
        <li class="breadcrumb-item active">All tasks</li>
    </ol>
    {% endif %}
    </nav>
    <h2>Tasks</h2>
    <div class="container">
        {% if t_page_id == 0 %}
            <button class="button-note"><a href="/select_category" class="button-note-text">Add new task</a></button>
        {% elif t_page_id == 2 %}
            <button class="button-note"><a href="/select_category" class="button-note-text">Add new relevant task</a></button>
        {% endif %}
        <ul class="list-group">
            {% for task in tasks %}
            <li>
                <div class="card" style="width: 1080px; height: 140px; border: none;">
                    <div class="card-body">
                        <section class='simple-inline'>
                            <p>{{ task.title }}</p>
                            <a href="tasks/{{ task.id }}" class="btn btn-note button-note-text card-link" data-toggle="tooltip" data-placement="bottom" data-delay: '{ "show": 0, "hide": 0 }' title="View task"><i class="fas fa-eye" style="color: #ccf"></i></a>
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Settings">
                                <a href="#" class="btn btn-note" data-toggle="modal" data-target="#taskSettings-{{task.id}}" style='color: #ccf;'><i class="fas fa-cog" style="color: #ccf"></i></a>
                            </span>
                            {% if task.is_performed %}
                            <a class="btn btn-note" href="/undone_task/{{ task.id }}" style='color: #ccf;' data-toggle="tooltip" title="Undone"><i class="fas fa-times" style="color: #d22"></i></a>
                            {% else %}
                            <a class="btn btn-note" href="/done_task/{{ task.id }}" data-toggle="tooltip" title="Done" style='color: #ccf;'><i class="fas fa-check" style="color: #9f9"></i></a>
                            {% endif %}
                        </section>
                    </div>
                </div>
            </li>
            <div class="modal" id="taskSettings-{{task.id}}" data-backdrop="static" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content cosmodal">
                        <div class="modal-header">
                            <h5 class="modal-title">Task settings</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>You can choose the action to perform</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="button btn-secondary"><a href="/change_task_category/{{ task.id }}" class='button-note-text'>Change category</a></button>
                            <button type="button" class="button btn-danger"><a href="/tasks/delete/{{ task.id }}" class='delete-text'>Delete the task</a></button>
                            <button type="button" class="button btn-info"><a href="/change_task/{{ task.id }}" class='button-note-text'>Change task</a></button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
    </main>

{% endblock %}