{% extends 'base.html' %}

{% block content %}

<h2>{{ task.title }}</h2>
<h3>Priority: {{ task.priority }}</h3>
<h3>Category: {{ task.category.title }}</h3>
<p class='note-content'>{{ task.description }}</p>
{% if task.is_performed %}
<button type="button" class="button btn-danger"><a href="/undone_task/{{ task.id }}" class='button-note-text'>Undone</a></button>
{% else %}
<button type="button" class="button btn-success"><a href="/done_task/{{ task.id }}" class='button-note-text'>Done</a></button>
{% endif %}
<button type="button" class="button btn-dark button-note"><a href="/change_task_category/{{ task.id }}" class='button-note-text'>Change category</a></button>
<button type="button" class="button btn-dark button-note"><a href="/tasks/delete/{{ task.id }}" class='delete-text'>Delete the task</a></button>
<button type="button" class="button btn-light button-note"><a href="/tasks" class='button-note-text'>Return to tasks</a></button>

{% endblock %}