body {
    background: url(../img/7.jpg);
    color: #fff;
}

.bar-in {
    background: url(../img/4.jpg);
    height: 140px;
}

.card {
    background: url(../img/3.jpg);
}

.tascard {
    background: url(../img/3.jpg);
}

.list-group-color {
    background: url(../img/1.jpg);
}

.button-note {
    color: #fff;
    background: url(../img/1.jpg);
    border: none;
}

.dropdown-menu {
    background: url(../img/3.jpg);
    border: none;
}

.dropdown-item:hover {
    background: url(../img/3.jpg);
}

.style-btn {
    background: url(../img/3.jpg);
    color: #ccf;
}

.cosmodal {
    background-image: url(../img/3.jpg);
    border: solid 10px;
    border-image: url(../img/4.jpg);
}

.prio-10 {
    background-image: url(../img/4.jpg);
}

.prio-9 {
    background-image: url(../img/4.jpg);
}

.prio-8 {
    background-image: url(../img/4.jpg);
}

.prio-7 {
    background-image: url(../img/1.jpg);
}

.prio-6 {
    background-image: url(../img/1.jpg);
}

.prio-5 {
    background-image: url(../img/1.jpg);
}

.prio-4 {
    background-image: url(../img/3.jpg);
}

.prio-3 {
    background-image: url(../img/3.jpg);
}

.prio-2 {
    background-image: url(../img/3.jpg);
}

.prio-1 {
    background-image: url(../img/7.jpg);
}
