h4 {
    color: #d00;
}

h3 {
    margin-bottom: 50px;
}

body {
    background: url(../img/7.jpg);
    color: #fff;
}

.ssilka {
    font-size: 24pt;
}

.smart-line p {
    display: inline-block;
    vertical-align: top;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold' sans-serif;
    font-size: 24pt;
}

.simple-line {
    display: inline-block;
}

.nav-text {
    color: #fff;
}

.challenge {
    margin-left: 50px;
    text-decoration: none;
}

.card-header {
    font-size: 30pt;
}

.note-text {
    font-size: 14pt;
}

.note-content {
    font-size: 16pt;
    white-space: pre-line;
}

.nav-link {
    font-size: 15pt;
    margin-top: 10px;
}

.note-manual {
    color: #ccf;
    font-size: 20pt;
}

.note-manual:hover {
    color: #ccf;
    font-size: 22pt;
}

.challenge-button {
    text-decoration: none;
    color: #ccf;
    margin-top: 30px;
    margin-left: 20px;
}

a:hover {
    color: #aaf;
    text-decoration: none;
}

.button-note-text {
    color: #fff;
    font-size: 14pt;
    text-decoration: none;
}

.button-note-text:hover {
    color: #ddf;
    text-decoration: none;
}

.transform-two:hover {
    display: block;
    transform: scale(1.05)
}

.button-login-main {
    color: #fff;
    font-size: 20pt;
    text-decoration: none;
}

.login-main-text {
    color: #ddf;
    font-size: 18pt;
    text-decoration: none;
}

.button-login-main:hover {
    color: #99f;
    text-decoration: none;
}

.delete-text {
    color: #fdd;
    font-size: 14pt;
    text-decoration: none;
}

.delete-text:hover {
    color: #f66;
    font-size: 14pt;
    text-decoration: none;
}

nav.navbar .dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-nav-text {
    color: #ccf;
    font-size: 14pt;
    text-decoration: none;
}

.dropdown-nav-text:hover {
    color: #99f;
    text-decoration: none;
}

.nav-item-acc {
    margin-right: 80px;
}

.main-log {
    background-image: none;
    background-color: transparent;
    display: inline-block;
}

.clps {
    display: block;
}

.acc-head-name {
    margin-left: 30px;
    font-size: 32px;
}

.acc-head-rank {
    margin-left: 50px;
    font-size: 25px;
}

.acc-head-exp {
    margin-left: 50px;
    font-size: 20px;
}

.acc-avatar {
    float: left;
    border: 20px;
    border-color: blue;
    margin-right: 40px;
    margin-left: 30px;
}

.crumb-ds {
    background-image: none;
    background-color: transparent;
    color: #fff;
}

.done-button-text {
    font-size: 16pt;
}

.done-button-text:hover {
    font-size: 18pt;
    text-decoration: none;
}

.done-button {
    padding: 12px;
    border: none;
}

.done-button:hover {
    padding: 10px;
}

.task-note-li {
    margin-right: 40px;
}

.tooltip {
    background-color: #003;
    color: #ccf;
}

.container-sm {
    min-width: 1280px;
}

.form-w {
    max-width: 720px;
    margin-left: 100px;
}

audio::-webkit-media-controls-panel,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-current-time-display {
  color: #99f;
  background: url(../img/3.jpg);
}

audio::-webkit-media-controls-play-button {
    background-size: 36px;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    background-image: url(../img/playit.png);
}

audio::-webkit-media-controls-mute-button {
    background-size: 36px;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    background-clip: content-box;
    background-color: transparent;
    background-image: url(../img/sound.png);
}

audio::-webkit-media-controls-timeline {
    background: url(../img/3.jpg);
}

audio::-webkit-media-controls-volume-slider {
    background: url(../img/3.jpg);
}

audio {
    min-width: 800px;
}

.audio-margin {
    margin-left: 160px;
}