h4 {
    color: #d00;
}

h3 {
    margin-bottom: 50px;
}

body {
    background: url(../img/7.jpg);
    color: #fff;
}

.ssilka {
    font-size: 40pt;
}

.smart-line p {
    display: inline-block;
    vertical-align: top;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold' sans-serif;
    font-size: 24pt;
}

.simple-line {
    display: inline-block;
}

.nav-text {
    color: #fff;
}

.card {
    background: url(../img/3.jpg);
}

.challenge {
    margin-left: 50px;
    text-decoration: none;
}

.card-header {
    font-size: 30pt;
}

.note-text {
    font-size: 14pt;
}

.note-content {
    font-size: 16pt;
    white-space: pre-line;
}

.nav-link {
    font-size: 15pt;
    margin-top: 10px;
}

.note-manual {
    color: #ccf;
    font-size: 20pt;
}

.note-manual:hover {
    color: #ccf;
    font-size: 22pt;
}

.challenge-button {
    text-decoration: none;
    color: #ccf;
    margin-top: 30px;
    margin-left: 20px;
}

a:hover {
    color: #aaf;
    text-decoration: none;
}

.list-group-color {
    background: url(../img/1.jpg);
}

.button-note-text {
    color: #fff;
    font-size: 14pt;
    text-decoration: none;
}

.button-note-text:hover {
    color: #ddf;
    text-decoration: none;
}

.transform-two:hover {
    display: block;
    transform: scale(1.05)
}

.button-login-main {
    color: #fff;
    font-size: 20pt;
    text-decoration: none;
}

.login-main-text {
    color: #ddf;
    font-size: 18pt;
    text-decoration: none;
}

.button-login-main:hover {
    color: #99f;
    text-decoration: none;
}

.button-note {
    color: #fff;
    background: url(../img/1.jpg);
    border: none;
}

.delete-text {
    color: #fdd;
    font-size: 14pt;
    text-decoration: none;
}

.delete-text:hover {
    color: #f66;
    font-size: 14pt;
    text-decoration: none;
}

nav.navbar .dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-menu {
    background: url(../img/3.jpg);
    border: none;
}

.dropdown-item:hover {
    background: url(../img/3.jpg);
}

.dropdown-nav-text {
    color: #ccf;
    font-size: 14pt;
    text-decoration: none;
}

.dropdown-nav-text:hover {
    color: #99f;
    text-decoration: none;
}

.nav-item-acc {
    margin-right: 80px;
}

.main-log {
    background-image: none;
    background-color: transparent;
    display: inline-block;
}

.clps {
    display: block;
}

.acc-head-name {
    margin-left: 30px;
    font-size: 32px;
}

.acc-head-rank {
    margin-left: 50px;
    font-size: 25px;
}

.acc-head-exp {
    margin-left: 50px;
    font-size: 20px;
}

.acc-avatar {
    float: left;
    border: 20px;
    border-color: blue;
    margin-right: 40px;
    margin-left: 30px;
}

.crumb-ds {
    background-image: none;
    background-color: transparent;
    color: #fff;
}

.done-button-text {
    font-size: 16pt;
}

.done-button-text:hover {
    font-size: 18pt;
    text-decoration: none;
}

.done-button {
    padding: 12px;
    border: none;
}

.done-button:hover {
    padding: 10px;
}

.task-note-li {
    margin-right: 40px;
}

.cosmodal {
    background-image: url(../img/3.jpg);
    border: 10px;
    border-image: url(../img/4.jpg);
}