h4 {
    color: #d00;
}

h3 {
    padding-bottom: 50px
}

body {
    background: url(../img/7.jpg);
    color: #fff;
}

.ssilka {
    font-size: 40pt
}

.smart-line p {
    display: inline-block;
    vertical-align: top;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold' sans-serif;
    font-size: 24pt
}

.nav-text {
    color: #fff
}

.card-body {
    background: url(../img/3.jpg);
}

.challenge {
    padding-left: 30px
}